@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Quicksand:wght@400;500&display=swap');

.attribution { 
    font-size: 10px; 
    text-align: center; 
    padding: 3em;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
body {
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: grid;
    place-content: center;
}
.sr-only {
    display: none;
}

#card {
    background-color:hsl(0, 0%, 100%) ;
    border: 2em white;
    border-radius: 0.5em;
    margin: auto;
    display: block;
    text-align: center;
    width: 17em;
    font-family: 'Quicksand', sans-serif;
}
#card img {
    width: 15.5em;
    border-radius: 0.5em;
    position: relative;
    top: 0.6em;
}
#card h2 {
    font-size: 16px;
    color: hsl(218, 44%, 22%);
    font-weight: 800;
    padding-top: 0.5em;
    
}
#card p {
    font-size: 12px;
    color: hsl(220, 15%, 55%);
    font-weight: 500;
    padding-bottom: 0.5em;
}
 